__pycache__/
build/
dist/
contourpy.egg-info/
result_images/
wheelhouse/
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.so
*.pyd
.vscode/
.asv/
.mesonpy-native-file.ini
generated/
benchmarks/*.png
benchmarks/*.svg
build_config.py
.coverage
docs/_build/
