[build-system]
build-backend = "setuptools.build_meta"
requires = [
    "build",
    "pybind11>=2.6",
    "setuptools>=42",
]

[tool.isort]
force_sort_within_sections = true
multi_line_output = 5
profile = "hug"
skip_gitignore = true

[tool.cibuildwheel]
build-frontend = "build"
build-verbosity = "2"
build = "cp37-* cp38-* cp39-* cp310-* pp37-* pp38-* pp39-*"
test-command = 'python -c "import contourpy as c; c.contour_generator(z=[[0, 1], [2, 3]]).lines(0.9)"'
# Only test combinations for which a numpy wheel exists, and macos universal unnecessary.
test-skip = "pp37-* pp38-*-aarch64 pp39-* *musllinux* *-macosx_arm64 *-macosx_universal2"

[tool.cibuildwheel.linux]
archs = "auto aarch64"

[tool.cibuildwheel.macos]
archs = "x86_64 arm64 universal2"
