name: Build binary wheels

on:
  push:

#    branches:
#      - main
#    tags:
#      - v*

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-20.04, windows-2019, macOS-10.15]

    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.1.1
        env:
           CIBW_BUILD: "cp38-*"
           CIBW_BEFORE_BUILD: pip install pybind11 numpy

      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl
