name: Build binary wheels and sdist

on:
  push:
    tags:
      - v*
  workflow_dispatch:

jobs:
  build_wheels:
    name: ${{ matrix.arch }} wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    #env:
      #MACOSX_DEPLOYMENT_TARGET: "10.9"

    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-20.04
            arch: aarch64
          - os: ubuntu-20.04
            arch: ppc64le
          - os: ubuntu-20.04
            arch: s390x
          - os: ubuntu-20.04
            arch: x86_64

          - os: macOS-11
            arch: arm64
          - os: macOS-11
            arch: x86_64

          - os: windows-2019
            arch: AMD64

    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.13.0
        env:
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_CONFIG_SETTINGS: ${{ matrix.config-settings }}

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build sdist
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install build

      - name: Build sdist
        run: |
          python -m build --sdist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz
