name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Test ${{ matrix.python-version }} ${{ matrix.os }} ${{ matrix.debug == 1 && 'debug' || '' }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9, '3.10']
        debug: [0]
        include:
          # Add debug build and test to matrix.
          - os: ubuntu-latest
            python-version: 3.9
            debug: 1
          # PyPy only tested on ubuntu for speed.
          - os: ubuntu-latest
            python-version: 'pypy-3.7'
            debug: 0
          - os: ubuntu-latest
            python-version: 'pypy-3.8'
            debug: 0

    steps:
      - name: Checkout source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install contourpy
        shell: bash
        run: |
          if [[ ${{ matrix.debug }} == 0 ]];
          then
            if [[ ${{ matrix.python-version }} == pypy* ]];
            then
              echo "Install without test dependencies"
              python -m pip install -ve .
              python -m pip install pytest
            else
              echo "Install with test dependencies"
              python -m pip install -ve .[dev]
            fi
          else
            echo "Install in debug mode with test dependencies"
            CONTOURPY_DEBUG=1 CONTOURPY_CXX11=1 python -m pip install -ve .[dev]
          fi
          python -m pip list

      - name: Install cppcheck
        if: runner.os == 'Linux'
        run: |
          sudo apt install -y cppcheck

      - name: Run tests
        shell: bash
        run: |
          if [[ ${{ matrix.python-version }} == pypy* ]];
          then
            echo "Run only tests that do not need mpl"
            python -m pytest -v tests/ -k "not needs_mpl"
          else
            echo "Run tests"
            python -m pytest -v tests/
          fi

      - name: Collect test image failures
        if: always()
        shell: bash
        run: |
          if [[ -e result_images ]];
          then
            DIR="test-artifacts/${{ matrix.os }}_${{ matrix.python-version }}_${{ matrix.debug == 1 && 'debug' || '' }}"
            mkdir -p ${DIR}
            mv result_images/* ${DIR}/
          fi

      - name: Upload test artifacts
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: test-artifacts
          path: test-artifacts/
