name: Test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "42 01 * * SUN"

defaults:
  run:
    shell: bash

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0

  codebase:
    name: codebase
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]

    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install contourpy
        run: |
          python -m pip install --upgrade pip
          python -m pip install -v .[mypy,test]

      - name: Install cppcheck
        run: |
          CPPCHECK_VERSION=2.9
          CPPCHECK_TGZ=$CPPCHECK_VERSION.tar.gz
          cd $RUNNER_TEMP
          wget --no-verbose https://github.com/danmar/cppcheck/archive/refs/tags/$CPPCHECK_TGZ
          tar xzf $CPPCHECK_TGZ
          cd cppcheck-$CPPCHECK_VERSION
          sudo make install MATCHCOMPILER=yes FILESDIR=/usr/share/cppcheck CXXFLAGS="-O2 -DNDEBUG" -j 2

      - name: Run tests
        run: |
          python -m pytest -v --color=yes tests/test_codebase.py

  test:
    name: "${{ matrix.name }} ${{ matrix.python-version }} ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        name: ["Test"]
        include:
          # Debug build including Python and C++ coverage.
          - os: ubuntu-latest
            python-version: "3.11"
            name: "Test debug with coverage"
            coverage-files: "coverage.lcov,coverage.cpp"
            debug: true
          # Bokeh and text tests with Python (not C++) coverage.
          - os: ubuntu-latest
            python-version: "3.11"
            name: "Test bokeh and text tests with coverage"
            coverage-files: "coverage.lcov"
            test-text: true
          # Test against numpy debug build.
          - os: ubuntu-latest
            python-version: "3.11"
            name: "Test numpy debug"
            build-numpy-debug: true
          # Compile using C++11.
          - os: ubuntu-latest
            python-version: "3.11"
            name: "Test C++11"
            extra-install-args: "-C setup-args=-Dcpp_std=c++11"
          # PyPy only tested on ubuntu for speed, without image tests.
          - os: ubuntu-latest
            python-version: "pypy3.8"
            name: "Test"
            test-no-images: true
          - os: ubuntu-latest
            python-version: "pypy3.9"
            name: "Test"
            build-numpy: true
            test-no-images: true

    steps:
      - name: Checkout source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install OS dependencies
        if: matrix.debug
        run: |
          sudo apt update -yy
          sudo apt install -yy lcov

      - name: Build and install numpy from sdist
        if: matrix.build-numpy
        run: |
          pip install -v --no-binary=numpy numpy

      - name: Build and install numpy from sdist with debug asserts enabled
        if: matrix.build-numpy-debug
        run: |
          CFLAGS=-UNDEBUG pip install -v --no-binary=numpy numpy

      - name: Pre-install Python dependencies
        run: |
          python -m pip install --upgrade pip
          if [[ "${{ matrix.debug }}" != "" ]] || [[ "${{ matrix.coverage-files }}" != "" ]]
          then
            # Install requirements when not using build isolation.
            python -m pip install "meson[ninja] >= 1.1.0" "meson-python >= 0.13.1" "pybind11 >= 2.10.4"
          fi
          python -m pip list

      - name: Install contourpy
        run: |
          if [[ "${{ matrix.debug }}" != "" ]]
          then
            echo "Install contourpy in debug editable mode with coverage"
            python -m pip install -ve .[test] --no-build-isolation -C setup-args=-Dbuildtype=debug -C setup-args=-Db_coverage=true -C builddir=build
          elif [[ "${{ matrix.coverage-files }}" != "" ]]
          then
            echo "Install contourpy in editable mode with bokeh dependencies"
            python -m pip install -ve .[bokeh,test] --no-build-isolation -C builddir=build
          elif [[ "${{ matrix.test-no-images }}" != "" ]]
          then
            echo "Install contourpy with non-image-generating test dependencies"
            python -m pip install -v .[test-no-images]
          else
            echo "Install contourpy with standard test dependencies"
            python -m pip install -v .[test] ${{ matrix.extra-install-args }}
          fi
          python -m pip list
          python -c "from contourpy.util import build_config; from pprint import pprint; pprint(build_config())"
          python -c "import contourpy as c; print('NDEBUG', c._contourpy.NDEBUG)"

      - name: Run tests
        run: |
          if [[ "${{ matrix.debug }}" != "" ]]
          then
            echo "Run normal tests with coverage"
            python -m pytest -v --color=yes tests/ --cov=lib --cov-report=lcov
          elif [[ "${{ matrix.test-text }}" != "" ]]
          then
            echo "Run normal and text tests with coverage"
            chromium --version
            python -m pytest -v --color=yes tests/ --runtext --cov=lib --cov-report=lcov
          elif [[ "${{ matrix.test-no-images }}" != "" ]]
          then
            echo "Run only tests that do not generate images"
            python -m pytest -v --color=yes tests/ -k "not image"
          else
            echo "Run all tests"
            python -m pytest -v --color=yes tests/
          fi

      - name: Collect C++ coverage
        if: matrix.debug
        run: |
          lcov --output-file coverage.cpp --capture --directory build
          lcov --output-file coverage.cpp --extract coverage.cpp $PWD/src/"*"

      - name: Upload coverage
        if: matrix.coverage-files
        uses: codecov/codecov-action@v3
        with:
          files: ${{ matrix.coverage-files }}
          verbose: true

      - name: Collect test image failures
        if: always()
        run: |
          if [[ -e result_images ]]
          then
            DIR="test-artifacts/${{ matrix.name }}"
            mkdir -p ${DIR}
            mv result_images/* ${DIR}/
          fi

      - name: Upload test artifacts
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: test-artifacts
          path: test-artifacts/
